*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul,
dl {
  list-style: none;
}

a,
button,
input,
select,
textarea {
  outline: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: center;
}

input:not([type="checkbox"], [type="radio"]),
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

img {
  vertical-align: top;
}

img,
iframe {
  height: auto;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}
