{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/no-unused-vars": ["warn"],
    "comma-dangle": "off",
    "curly": "error",
    "import/no-anonymous-default-export": "off",
    "import/no-duplicates": "error",
    "no-unused-vars": "warn",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^react", "^@?\\w"],
          [
            "^src/app",
            "^src/layouts/",
            "^src/pages/((?!/hooks/).)*$",
            "^src/components/",
            "components",
            "^\\.(\\.)?/((?!components)[a-z\\d-]+/)?[a-z\\d-]+(?<!-store)$",
            "^src/assets/"
          ],
          ["^src/stores/", "^\\.(\\.)?/([a-z\\d/-]+)-store$"],
          ["/contexts", "/hooks/", "^src/(?!interfaces)", "^src/interfaces", "\\.(props|interface)\\u0000$"],
          ["^.+\\.s?css$"]
        ]
      }
    ]
  }
}
