@import "src/scss/variables.scss";
@import "src/scss/mixins/breakpoints.scss";

.burger {
  border: 1px solid $color-borders-basic;
  border-radius: 6px;
  display: block;
  height: 38px;
  padding: 0 10px;
  transition: background-color $transition-time;
  width: 38px;

  @include tablet() {
    display: none;
  }
}

.burger_active {
  background-color: $color-borders-basic;
}

.burger__line {
  background-color: $color-text-body;
  display: block;
  height: 2px;
  position: relative;

  &::before,
  &::after {
    background-color: $color-text-body;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
  }

  &::before {
    top: -5px;
  }

  &::after {
    bottom: -5px;
  }
}
