@import "src/scss/variables.scss";

.button {
  background-color: $color-secondary;
  border-radius: 4px;
  display: grid;
  padding: 10px 20px;
  position: relative;
  transition: background-color $transition-time;

  &:hover,
  &:focus {
    background-color: darken($color: $color-secondary, $amount: 5);
  }
}

.button_with-icon {
  padding-right: 40px;
}

.button__icon {
  color: $color-white;
  display: grid;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);

  svg {
    height: 12px;
    width: 12px;
  }
}

.button__label {
  color: $color-white;
  font-size: $font-size-button;
  font-weight: 700;
}
