@import "src/scss/variables.scss";

.work-item {
  display: grid;
  gap: 8px;

  &:hover {
    .work-item__image {
      box-shadow: 0 0 10px 5px rgba($color: $color-secondary, $alpha: 0.6);
    }

    .work-item__title,
    .work-item__description {
      color: $color-secondary;
    }

    .work-item__title_with-icon {
      &::before {
        background-color: $color-secondary;
      }
    }
  }
}

.work-item__image {
  border-radius: 10px;
  transition: box-shadow $transition-time;
}

.work-item__title {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  transition: color $transition-time;
}

.work-item__title_with-icon {
  padding-left: 20px;

  &::before {
    background-color: $color-text-body;
    content: "";
    height: 15px;
    mask-image: url("@/assets/icons/github.svg");
    mask-size: cover;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color $transition-time;
    width: 15px;
  }
}

.work-item__description {
  font-size: 14px;
  transition: color $transition-time;
}
