// FONT FAMILY
$font-main: "Nunito", sans-serif;

// FONT SIZES
$font-size-body: 16px;
$font-size-button: 16px;

// PRIMARY COLORS
$color-primary: #f9f9f9;
$color-secondary: #319795;

// TEXT COLORS
$color-text-body: #1a202c;

// BORDERS COLORS
$color-borders-basic: #e2e8f0;

// OTHER COLORS
$color-white: #ffffff;
$color-black: #000000;
$color-layout-background: $color-primary;

// TRANSITION TIME
$transition-time: 0.15s;

// BREAKPOINTS
$tablet-width: 768px;
